---
import {
  fetchFeaturedProjects,
  fetchGlobal,
  fetchProfile,
  fetchSkills,
} from "../lib/api";
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/Hero.vue";
import ImageTextTout from "../components/ImageTextTout.vue";
import TechList from "../components/TechList.vue";
import ProjectGrid from "../components/ProjectGrid.vue";
import TextBlock from "../components/TextBlock.vue";
import DiscoBall from "../components/DiscoBall.astro";

import { getMediumUrl } from "../lib/images";
const featuredProjects = await fetchFeaturedProjects();
const global = await fetchGlobal();
const profile = await fetchProfile();
const skills = await fetchSkills();

const skillsIntro = 'I leverage a diverse range of tools to develop interactive web applications, utilizing content management systems, the latest backend and frontend frameworks, and multiple programming languages.My expertise spans across different domains, including organizational websites, educational portals, and enterprise solutions.'
---

<PageLayout title="Home">
  <div class="flex-col-4">
    <!-- Intro -->
    <section class="page-section">
      <Hero showLinks={true} client:load>
        <h1 slot="title" class="title">{profile?.name}</h1>
        <h2 slot="subtitle" class="subtitle one pt-[1rem]">{profile?.tagline}</h2>
        <h2 slot="subtitle" class="subtitle two" aria-hidden="true">{profile?.tagline}</h2>
        <h2 slot="subtitle" class="subtitle three" aria-hidden="true">{profile?.tagline}</h2>
        <h2 slot="subtitle" class="subtitle four pb-[1rem] md:pb-[2rem]" aria-hidden="true">
          {profile?.tagline}
        </h2>
        <div class="relative" slot="disco-ball">
          <DiscoBall />
        </div>
        <div slot="intro" class="container">
          <p class="intro">{global?.intro}</p>
        </div>
        <div slot="btn-links" class="btn-links">
          <a class="btn light" href="/projects/">Check Projects</a>
          <a class="btn dark" href="#featured-skills">Explore Skills</a>
        </div>
      </Hero>
    </section>
    
    <!-- About -->
    <section class="page-section flex-col-4">
      <ImageTextTout label={profile?.nickname} text={profile?.greeting} client:load>
        <img src={getMediumUrl(profile?.image)} alt="Headshot of Ray Luna standing in front of a mountain at dusk. He is wearing a tropical print shirt." />
      </ImageTextTout>
      <TextBlock text={profile?.bio} isRichtext={false}>
        <h3 slot="title" class="section-title">About Me</h3>
      </TextBlock>
    </section>
    
    <!-- Projects -->
    <section class="page-section">
      <TextBlock isRichtext={false}>
        <div slot="title" class="flex justify-between">
          <h3 class="section-title">FeaturedProjects</h3>
          <a v-if="showLink" class="uppercase font-bold" href="/projects">View All</a>
        </div>
      </TextBlock>
      <ProjectGrid projects={featuredProjects} minGridCols={1} />
    </section>

    <!-- Skills -->
    <section class="page-section">
      <TextBlock text={skillsIntro} isRichtext={false}>
        <h2 slot="title" class="section-title">Skills and expertise</h2>
      </TextBlock>
      <ul class="bottom grid md:grid-cols-3 gap-[2rem]">{skills.map((item) => (
        <li class="lists flex flex-col gap-y-[2rem]">
            <h3 class="text-[1.125rem]">{item.title}</h3>
            <TechList items={item.skills} isOpen={false} client:load />
        </li>))}
      </ul>
    </section>
  </div>
</PageLayout>
