---
import { fetchFeaturedProjects, fetchGlobal, fetchProfile } from '../lib/api';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import ImageCarousel from '../components/ImageCarousel.vue';
import ImageTextTout from '../components/ImageTextTout.vue';
import SkillsSection from '../components/SkillsList.vue';
import FeaturedProjects from '../components/FeaturedProjects.vue';
import TextTout from '../components/TextTout.vue';
import Footer from '../components/Footer.vue';

const global = await fetchGlobal();
const profile = await fetchProfile();
const featuredProjects = await fetchFeaturedProjects();

// console.log(global);
console.log(profile);
// console.log(global);
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead
      title={`${profile?.name} | ${global?.title}`}
      description={global?.description}
    />
  </head>
  <body>
    <div id='top-bg' aria-hidden='true'></div>
    <Header client:load title={global?.title} name={profile?.name} />
    <main>
      <Hero client:load>
        <h1 slot='title' class='title'>{profile?.name}</h1>
        <p slot='intro' class='intro'>{global?.intro}</p>
      </Hero>
      <ImageCarousel />
      <ImageTextTout />
      <TextTout>
        <h3 slot='title' class='title'>About Me</h3>
        <p slot='text' class='text'>{profile?.bio}</p>
      </TextTout>
      <SkillsSection />
      <FeaturedProjects projects={featuredProjects} />
    </main>
    <Footer
      linkedin={profile?.linkedin}
      github={profile?.github}
      email={profile?.email}
    />
  </body>
</html>
