---
import {
  fetchFeaturedProjects,
  fetchGlobal,
  fetchProfile,
  fetchSkills,
} from '../lib/api';
import PageLayout from '../layouts/PageLayout.astro';
import Hero from '../components/Hero.vue';
import ImageCarousel from '../components/ImageCarousel.vue';
import ImageTextTout from '../components/ImageTextTout.vue';
import FeaturedSkills from '../components/FeaturedSkills.vue';
import FeaturedProjects from '../components/FeaturedProjects.vue';
import TextTout from '../components/TextTout.vue';

const featuredProjects = await fetchFeaturedProjects();
const global = await fetchGlobal();
const profile = await fetchProfile();
const skills = await fetchSkills();
---

<PageLayout title='Home'>
  <Hero showLinks={true} client:load>
    <h1 slot='title' class='title'>{profile?.name}</h1>
    <h2 slot='subtitle' class='subtitle'>{profile?.tagline}</h2>
    <p slot='intro' class='intro'>{global?.intro}</p>
  </Hero>
  <ImageCarousel profileImage={profile?.image} images={global?.decorationImages} client:load />
  <ImageTextTout label={profile?.nickname} text={profile?.greeting}/>
  <TextTout class="md:-mt-[4rem]">
    <h3 slot='title' class='title'>About Me</h3>
    <p slot='text' class='text'>{profile?.bio}</p>
  </TextTout>
  <FeaturedProjects projects={featuredProjects} />
  <FeaturedSkills skills={skills} />
</PageLayout>
