---
import '../assets/styles/index.scss';
import { getThumbnailUrl } from '../lib/images';
import type { Image } from '../interfaces/Image';
import GoogleTag from '../components/GoogleTag.astro';

export interface Props {
	title: string;
	seoDescription?: string;
	seoImage?: Image;
}

const { title, seoDescription, seoImage } = Astro.props;

const pageURL = new URL(Astro.url);
const seoImageURL = seoImage ? getThumbnailUrl(seoImage) : '#';


---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/img/favicons/favicon.ico" />
<meta name="generator" content={Astro.generator} />
<!-- Canonical URL -->
<link rel="canonical" href={pageURL} />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={seoDescription} />
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={pageURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={seoDescription} />
<meta property="og:image" content={seoImageURL} />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={pageURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={seoDescription} />
<meta property="twitter:image" content={seoImageURL} />
<!-- For Android Chrome -->
<link rel="icon" sizes="192x192" href="/img/favicons/android-chrome-192x192.png">
<link rel="icon" sizes="512x512" href="/img/favicons/android-chrome-512x512.png">
<!-- For Apple Touch -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<!-- Favicon for other browsers -->
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<!-- Google Analytics -->
<GoogleTag />
