---
import { fetchProject } from '../../lib/api';

import DetailHeader from '../../components/DetailHeader.vue';
import PageLayout from '../../layouts/PageLayout.astro';
import TechList from '../../components/TechList.vue';
import ProjectInfo from '../../components/ProjectInfo.vue';
import PortableText from '../../components/PortableText.vue';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}
---

<PageLayout title={project.title}>
    <DetailHeader
        title={project.title}
        image={project.mainImage}
        intro={project.intro}
        launchUrl={project.url}
        codeUrl={project.repository}
    />
    <div class='project-details'>
        <TechList title={'Technologies'} items={project.technologies} />
        <div class='data'>
            <ProjectInfo data={project} />
            <div class='description'>
                <h2 class='title'>Description</h2>
                <PortableText data={project.description} />
            </div>
        </div>
    </div>
</PageLayout>
