---
import { fetchProject, fetchLanguages, fetchCommits } from '../../lib/api';

import ActivityLog from '../../components/ActivityLog.vue';
import ImageGallery from '../../components/ImageGallery.vue';
import BarGraph from '../../components/BarGraph.vue';
import DetailHeader from '../../components/DetailHeader.vue';
import PageLayout from '../../layouts/PageLayout.astro';
import ProjectInfo from '../../components/ProjectInfo.vue';
import TextBlock from '../../components/TextBlock.vue';
import TechList from '../../components/TechList.vue';
import TagGrid from '../../components/TagGrid.vue';
import ThumbnailLinks from '../../components/ThumbnailLinks.vue';

import type { Language } from '../../interfaces/Language';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}

let languages: Language[] = [];
let commits = [];
let lastCommit;

// Fetch Github Data
if (project?.repositoryUsername && project?.repositorySlug) {
    const fetchedLanguages = await fetchLanguages(project.repositoryUsername, project.repositorySlug);
    languages = fetchedLanguages;

    const fetchedCommits = await fetchCommits(project.repositoryUsername, project.repositorySlug);
    commits = Array.isArray(fetchedCommits) ? fetchedCommits.slice(0, 6) : [];
}

if (commits?.length) {
    lastCommit = commits[0].commit.author.date;
}
---

<PageLayout title={project.title}>
    <DetailHeader
        client:load
        title={project.title}
        image={project.mainImage}
        intro={project.intro}
        launchUrl={project.url}
        codeUrl={project.repository}
        isFeatured={project.featured}
        status={project.status}
    />
    <div class='project-details container grid md:grid-cols-3 gap-[2.5rem] md:gap-x-[6.25rem];'>
        <div class='flex flex-col justify-between gap-y-[2.5rem] md:col-span-2 order-last md:order-none'>
            <div class='flex-col-3'>
                <ProjectInfo data={project} lastCommit={lastCommit} class='hidden md:block' />
                <div class='description'>
                    <h2 class='title'>Description</h2>
                    <TextBlock text={project.description} isRichtext={true} client:load />
                </div>
                {
                    commits?.length > 0 && (
                        <div class='activity'>
                            <h2 class='title'>Activity</h2>
                            <ActivityLog items={commits} />
                        </div>
                    )
                }
                {
                    project?.galleryImages?.length > 0 && (
                        <div class='images'>
                            <h2 class='title'>Images</h2>
                            <ImageGallery images={project.galleryImages} />
                        </div>
                    )
                }
                <TagGrid tags={project.tags} title='categories' class="md:hidden"/>
                {
                    project?.relatedProjects?.length > 0 && (
                        <div class='related-projects'>
                            <h2 class='title'>Related Projects</h2>
                            <ThumbnailLinks data={project.relatedProjects} />
                        </div>
                    )
                }
                <!-- End of page on mobile -->
            </div>
        </div>
        <div class='sidebar flex flex-col gap-y-[3.125rem] justify-between'>
            <div class='flex-col-3'>
                <!-- Top of page on mobile -->
                <ProjectInfo data={project} lastCommit={lastCommit} class='md:hidden'/>
                {
                    languages.length > 0 && (
                        <div class='languages'>
                            <h2 class='title'>Languages</h2>
                            <BarGraph data={languages} />
                        </div>
                    )
                }
                <TechList
                    client:load
                    title='Technologies'
                    items={project.technologies}
                    isOpen={true}
                />
                <TagGrid tags={project.tags} title='categories' class="hidden md:block" />
            </div>
        </div>
    </div>
</PageLayout>
