---
import { fetchProject } from '../../lib/api';
// import { Octokit } from 'octokit';

// import BarGraph from '../../components/BarGraph.vue';
import DetailHeader from '../../components/DetailHeader.vue';
import PageLayout from '../../layouts/PageLayout.astro';
import ProjectInfo from '../../components/ProjectInfo.vue';
import PortableText from '../../components/PortableText.vue';
import TechList from '../../components/TechList.vue';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}
// const octokit = new Octokit({});
// const getRepolSlug = (url: string): string => {
//     url = url.endsWith('/') ? url.slice(0, -1) : url;
//     const slug = url.split('/').pop();

//     return slug;
// };
// const repo = project?.repository;
// const slug = getRepolSlug(repo);

// const languages = await octokit.request(
//     `GET /repos/leon-luna-ray/${slug}/languages`,
//     {
//         owner: 'leon-luna-ray',
//         repo: slug,
//         auth: import.meta.env.VITE_GITHUB_API_KEY,
//         headers: {
//             'X-GitHub-Api-Version': '2022-11-28',
//         },
//     }
// );
---

<PageLayout title={project.title}>
    <DetailHeader
        title={project.title}
        image={project.mainImage}
        intro={project.intro}
        launchUrl={project.url}
        codeUrl={project.repository}
        isFeatured={project.featured}
    />
    <div class='project-details'>
        <div class='data'>
            <ProjectInfo data={project} />
            <div class='description'>
                <h2 class='title'>Description</h2>
                <PortableText data={project.description} />
            </div>
        </div>
        <div class="sidebar flex flex-col">
            <!-- <BarGraph data={languages.data}/> -->
            <TechList title={'Technologies'} items={project.technologies} />
        </div>
    </div>
</PageLayout>
