---
import { fetchProject, fetchLanguages } from '../../lib/api';

import BarGraph from '../../components/BarGraph.vue';
import DetailHeader from '../../components/DetailHeader.vue';
import PageLayout from '../../layouts/PageLayout.astro';
import ProjectInfo from '../../components/ProjectInfo.vue';
import PortableText from '../../components/PortableText.vue';
import TechList from '../../components/TechList.vue';
import TagGrid from '../../components/TagGrid.vue';

const project = await fetchProject(Astro.params.slug || '');

if (!project) {
    return new Response(null, {
        status: 404,
        statusText: 'Not found',
    });
}

const languages = await fetchLanguages('lds_www');
---

<PageLayout title={project.title}>
    <DetailHeader
        title={project.title}
        image={project.mainImage}
        intro={project.intro}
        launchUrl={project.url}
        codeUrl={project.repository}
        isFeatured={project.featured}
    />
    <div class='project-details'>
        <div class='data'>
            <ProjectInfo data={project} />
            <div class='description'>
                <h2 class='title'>Description</h2>
                <PortableText data={project.description} />
            </div>
        </div>
        <div class='sidebar flex flex-col gap-y-[3.125rem] md:gap-y-[3.125rem]'>
            <BarGraph data={languages}/>
            <TechList
                client:load
                title={'Technologies'}
                items={project.technologies}
            />
            <TagGrid tags={project.tags} title='tags' />
        </div>
    </div>
</PageLayout>
