---
import { fetchProjects, fetchProjectGroup } from "../../lib/api";

import PageLayout from "../../layouts/PageLayout.astro";
import Hero from "../../components/Hero.vue";
import ProjectGrid from "../../components/ProjectGrid.vue";
// import FilterButtons from '../../components/FilterButtons.vue';
import TextBlock from "../../components/TextBlock.vue";

const projects = await fetchProjects();
const personalProjects = await fetchProjectGroup("personal-projects");
const portfolioProjects = await fetchProjectGroup("portfolio-projects");
const categories = [personalProjects, portfolioProjects];

// const searchParams = Astro.url.search || null;
// const technologies = await fetchProjectTechnologies();

if (!projects?.length) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}
---

<PageLayout title="Projects">
    <!-- <section>
        <Hero showLinks={false} client:load>
            <h1 slot="title" class="title">Projects</h1>
            <div slot="btn-links" class="btn-links">
                <a class="btn dark mt-[2.5rem]" href="/">Home</a>
            </div>
        </Hero>
    </section> -->
    <!-- <FilterButtons client:load items={technologies} query={Astro.url.search}/> -->
    {categories.map((category) => (
    <section class="page-section flex-col-3">
        <TextBlock class="text-center" text={category.description} isRichtext={true} client:load>
            <h2 slot='title'>{category.title}</h2>
        </TextBlock>
        <ProjectGrid projects={category.projects} minGridCols={2} client:load />
    </section>
    ))}
</PageLayout>
