---
import {
    fetchGlobal,
    fetchProfile,
} from '../lib/api';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';

// TODO refactor to reduce api calls
const global = await fetchGlobal();
const profile = await fetchProfile();
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead
            title={`${profile?.name} | ${global?.title}`}
            description={global?.description}
        />
    </head>
    <body>
        <div id='top-bg' aria-hidden='true'></div>
        <Header client:load title={global?.title} name={profile?.name} />
        <!--Page Content -->
        <main>
            <slot></slot>
        </main>
        <Footer
            linkedin={profile?.linkedin}
            github={profile?.github}
            email={profile?.email}
        />
    </body>
</html>
