---
import { fetchGlobal, fetchProfile } from '../lib/api';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';

const global = await fetchGlobal();
const profile = await fetchProfile();

const isHome = () => {
    return Astro.url.pathname === '/';
};
const pageTitle = () => {
    if (isHome()) {
        return global?.title;
    }
    return Astro.props.title;
};
const getPathArray = (): string[] => {
    const path = Astro.url.pathname;

    if (isHome()) {
        return ['/'];
    }

    const paths: string[] = [];
    const segments = path.split('/').filter(Boolean);

    let currentPath = '';

    for (const segment of segments) {
        currentPath += `/${segment}`;
        paths.push(currentPath);
    }

    if (path !== '/') {
        paths.unshift('/');
    }

    return paths;
};
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead
            title={`${profile?.name} | ${pageTitle()}`}
            description={global?.description}
        />
    </head>
    <body>
        <div id='' aria-hidden='true'></div>
        <Header
            client:only
            name={profile?.name}
            title={pageTitle()}
            path={getPathArray()}
            isHome={isHome()}
        />
        <main>
            <slot />
        </main>
        <Footer
            linkedin={profile?.linkedin}
            github={profile?.github}
            email={profile?.email}
        />
    </body>
</html>
