---
import BaseHead from "../components/BaseHead.astro";
import DarkMode from "../components/DarkMode.astro";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

const { title, global, profile, seoDescription, seoImage, hidePath } =
    Astro.props;

const isHome = () => {
    return Astro.url.pathname === "/";
};
const pageTitle = () => {
    if (isHome()) {
        return global?.title;
    }
    return Astro.props.title;
};
const getPathArray = (): string[] => {
    const path = Astro.url.pathname;

    if (isHome()) {
        return ["/"];
    }

    const paths: string[] = [];
    const segments = path.split("/").filter(Boolean);

    let currentPath = "";

    for (const segment of segments) {
        currentPath += `/${segment}`;
        paths.push(currentPath);
    }

    if (path !== "/") {
        paths.unshift("/");
    }

    if (hidePath) {
        return ["Ray Luna"];
    }

    return paths;
};
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={title}
            seoDescription={seoDescription}
            seoImage={seoImage}
        />
    </head>
    <body>
        <div
            aria-hidden="true"
            class="fixed w-screen top-0 h-[1rem] z-[2] bg-theme"
        >
        </div>
        <Header
            client:only
            name={profile?.name}
            title={global?.title}
            path={getPathArray()}
            isHome={isHome()}
        />
        <main>
            <slot />
        </main>
        <Footer
            name={profile?.name}
            linkedin={profile?.linkedin}
            github={profile?.github}
            email={profile?.email}
        />
        <script is:inline>
            const setTheme = (theme) => {
                if (theme === "light") {
                    document.documentElement.classList.remove("dark");
                } else {
                    document.documentElement.classList.add("dark");
                }
                window.localStorage.setItem("theme", theme);
            };

            const updateTheme = () => {
                const prefersDarkMode = window.matchMedia(
                    "(prefers-color-scheme: dark)",
                ).matches;
                const storedTheme = localStorage.getItem("theme");
                const systemTheme = prefersDarkMode ? "dark" : "light";

                if (storedTheme !== systemTheme) {
                    setTheme(systemTheme);
                }
            };

            const storedTheme = localStorage.getItem("theme");
            if (storedTheme) {
                setTheme(storedTheme);
            } else {
                updateTheme();
            }

            window
                .matchMedia("(prefers-color-scheme: dark)")
                .addEventListener("change", updateTheme);
        </script>
    </body>
</html>
