---
import "../assets/styles/index.scss";

import BaseHead from "../components/BaseHead.astro";
import DarkModeBtn from "../components/DarkModeBtn.astro";
import Menu from "../components/Menu.vue";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
import { getPath } from "nanostores";

const { title, global, profile, seoDescription, seoImage, hidePath } =
    Astro.props;

const isHome = () => {
    return Astro.url.pathname === "/";
};
const getPathArray = (): string[] => {
    const path = Astro.url.pathname;

    if (isHome()) {
        return ["/"];
    }

    const paths: string[] = [];
    const segments = path.split("/").filter(Boolean);

    let currentPath = "";

    for (const segment of segments) {
        currentPath += `/${segment}`;
        paths.push(currentPath);
    }

    if (path !== "/") {
        paths.unshift("/");
    }

    if (hidePath) {
        return ["Ray Luna"];
    }

    return paths;
};
---

<html lang="en">
    <head>
        <BaseHead
            title={title}
            seoDescription={seoDescription}
            seoImage={seoImage}
        />
    </head>
    <body class="relative">
        <div
            aria-hidden="true"
            class="fixed w-screen top-0 h-[1rem] z-[2] bg-theme"
        >
        </div>
        <Header
            client:load
            name={profile?.name}
            title={global?.title}
            path={getPathArray()}
            isHome={isHome()}
        />
        <Menu
            client:load
            linkedin={profile?.linkedin}
            github={profile?.github}
            email={profile?.email}
        >
            <DarkModeBtn slot="dark-mode-btn" />
        </Menu>
        <main>
            <slot />
        </main>
        <Footer
            name={profile?.name}
            linkedin={profile?.linkedin}
            github={profile?.github}
            email={profile?.email}
        />
    </body>
</html>
